<div class="comments">
    {{#each this}}
    <section class="comment pb-3 mt-3">
      <div class="meta">
        {{user.username}} on {{created_at}}
      </div>
      <div class="text">
        <strong>{{comment_text}}</strong>
      </div>
    </section>
    <hr class="solid m-0">
    {{/each}}
  </div>