<!-- Slide -->
<div class="swiper-slide">
  <p class="title">{{title}}</p>
  <p class="subtitle">Written by {{user.username}} | on
  {{createdAt}}</p>
  <div class="content">
    <p>{{content}}</p>
  </div>
</div>
