<div class="login-container">
  <h1 class="title is-1 my-6">Login</h1>
  <form id="login-form" class="box login-box">
    <div class="field">
      <label class="label">Email</label>
      <div class="control">
        <input id="login-email" class="input" type="email" placeholder="e.g. alex@example.com">
      </div>
    </div>

    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <input id="login-password" class="input" type="password" placeholder="********">
      </div>
    </div>

    <button type="submit" class="button is-primary">Sign in</button>
  </form>
</div>

<script src="/javascripts/login.js"></script>

