body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Hero content */
.swiper {
  height: 400px;
  border-radius: 5px;
}

.swiper-slide {
  /* background-image: url('https://picsum.photos/1120/400'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after, .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  color: #00c4a7;
}

.swiper-pagination-bullet, .swiper-pagination-bullet-active, .swiper-pagination-bullet-active-main {
  background: #00c4a7;
}

.hero-content {
  background-color: rgba(255, 255, 255, 0.85);
  align-self: flex-end;
}

/* limit the content to 3 lines */
.short-content {
  overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.post-details {
  font-weight: 500;
}

.post-feature {
  border-radius: 5px;
}

/* Login Page */
.login-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-box {
  width: 50%;
}

/* Dashboard Page  */
.create-post {
  display: flex;
  justify-content: space-between;
}

.cp-close {
  display: none;
}

.display-hide {
  display: none;
}

.display-block {
  display: block !important;
}

.post-form {
  display: none;
}

/* Comments section */
.cm-close {
  display: none;
}

.comment-form {
  display: none;
}

.footer {
  background: none;
  margin-top: auto;
}

.w-100 {
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  .nav-menu {
    margin-bottom: 5em;
  }
}

@media only screen and (max-width: 880px) {
  .login-box {
    width: 80%;
  }

  .is-1 {
    font-size: 30px !important;
  }

  .is-2 {
    font-size: 25px !important;
  }

  .is-3 {
    font-size: 22px !important;
  }

  .hero-content {
    margin: 30px 15px !important;
  }

  .hero-p {
    display: none;
  }
}